/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  color: #000000;
}

body {
  min-height: 100vh;

  font-size: 15px;
  background-color: #63a4ff;
  background-color: #045de9;
  background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
}

/* ---------------------------------------------------------------- */

/* Containers */

/* ---------------------------------------------------------------- */

/* Classes */

/* Direction containers */

.column-container {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.row-container {
  width: 100%;

  display: flex;
  align-items: center;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Impact containers */

.impact-container {
  margin-bottom: 2rem;
}

/* Cards container */

.control-cards-container {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(auto-fit, 14rem);
  grid-gap: 1rem;
}

/* Card containers */

.card-container-style {
  background: #ffffff;
  box-shadow: 0px 6px 1px rgba(0, 0, 0, 0.2);
}

.floor-plan-card-container {
  height: 50vh;
  width: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto 2rem auto;
  padding: 1rem;

  border-radius: 50px;
}

.control-card-container {
  height: 12rem;
  width: 14rem;

  padding: 0.8rem;

  border-radius: 30px;
}

/* Features container */

.features-container {
  width: 100%;

  overflow-x: hidden;
  overflow-y: scroll;

  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.features-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

/* Feature container */

.feature-container {
  min-height: 2.2rem;
  width: 100%;

  margin-bottom: 0.1rem;
  padding: 0 0.8rem;

  align-items: center;

  cursor: pointer;
  border-radius: 30px;

  transition: background-color 0.3s ease;
}

.feature-container:last-child {
  margin-bottom: 0rem;
}

.feature-container:hover {
  background-color: #0085ff;
}

.feature-container:hover .feature-name {
  color: #ffffff;
}

.light-feature-icon {
  height: 1.9rem;
  min-width: 1.3rem;

  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.curtain-feature-icon {
  height: 1.9rem;
  min-width: 1.8rem;

  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

/* IDs */

#control-panel-container {
  width: 80%;

  margin: 0 auto;
}

/* Thermostat IDs */

#thermostat-container-wrapper {
  height: 100%;
  width: 100%;
}

#thermostat-container {
  width: 100%;
}

#thermostat-display-container {
  width: 8rem;
  height: 4rem;

  border: solid 3px #000000;
  border-radius: 10px;
  background-color: #cbcbcb;
}

#thermostat-arrows-container {
  height: 100%;
  width: auto;

  display: flex;
  flex-direction: column;

  margin-left: 0.3rem;
}

/* ---------------------------------------------------------------- */

/* Headings & Paragraphs */

/* ---------------------------------------------------------------- */

/* Classes */

/* Titles */

.white-title {
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0px 4px 1px rgba(0, 0, 0, 0.3);
}

.black-title {
  font-weight: bold;
  color: #000000;
}

.impact-name {
  margin-bottom: 0.5rem;

  font-size: 2.5rem;
}

.card-name {
  margin-left: 0.8rem;
  margin-bottom: 0.7rem;
  margin: 0 0.7rem 0.7rem 0.7rem;

  font-size: 1.6rem;
}

.feature-name {
  margin-left: 0.7rem;

  font-size: 1rem;
  font-weight: bold;

  transition: color 0.3s ease;
}

/* Thermostat text */

.thermostat-text {
  font-size: 1.6rem;
  font-weight: bold;
}

/* IDs */

#main-title {
  margin: 2rem 0;

  font-size: 2.5rem;
  text-align: center;
}

/* ---------------------------------------------------------------- */

/* Images & SVGs */

/* ---------------------------------------------------------------- */

/* Classes */

/* Floor plan SVG's class */
.floor-plan {
  width: 100%;
  height: 100%;
}

/* Thermostat arrow icon */
.thermostat-arrow-icon {
  height: 2.5rem;
  width: 2.5rem;

  margin: 0.1rem 0;

  color: #000000;
  background-color: transparent;
  cursor: pointer;
  border-radius: 10px;
  border: solid 3px #ffffff;

  transition: border-color 0.3s ease;
}

.thermostat-arrow-icon:hover {
  border-color: #0085ff;
}

#arrow-up-icon {
  background-image: url("../assets/arrows/arrow_up.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 83%;
}

#arrow-down-icon {
  background-image: url("../assets/arrows/arrow_down.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 83%;
}

/* ---------------------------------------------------------------- */

/* Media Queries */

/* ---------------------------------------------------------------- */

@media only screen and (max-width: 768px) {
  .floor-plan-card-container {
    height: 40vh;
    width: 95%;
  }

  .control-cards-container {
    justify-content: center;
  }

  .impact-name {
    text-align: center;
  }

  #control-panel-container {
    width: 96%;
  }
}
